<section  class="modal-overlay">
  <div id="form-container" class="card">
    <div class="header">
      <p class="alert">New Contact</p>
    </div>

    <form id="userForm" class="">
      <div class="form-label">
        <label class="label-type" for="name">Name</label>
        <div class="error"></div>
        <input
                type="text"
                id="name"
                name="name"
                class="new-contact-input"
                placeholder="Taha Zoabi"
        />
      </div>
      <div class="form-label">
        <label class="label-type" for="phone">Phone Number</label>
        <div class="error"></div>
        <input
                type="tel"
                id="phone"
                name="phone"
                class="new-contact-input"
                placeholder="050-111-1111"
        />
      </div>
      <div class="form-label">
        <label class="label-type" for="email">Email</label>
        <div class="error"></div>
        <input
                type="email"
                id="email"
                name="email"
                class="new-contact-input"
                placeholder="Email@gmail.com"
        />
      </div>
      <div class="form-label">
        <label class="label-type">Address</label>
        <div class="error"></div>
        <label for="address"></label>
        <input
                type="text"
                class="new-contact-input"
                placeholder="Haifa, Nesher"
                id="address"
        />
      </div>
      <div class="actions">
        <button id="cancelBtn" class="mark-as-read">Cancel</button>
        <button id="saveBtn" class="read">Confirm</button>
      </div>
    </form>
  </div>
</section>

<style>
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    max-width: 320px;
    width: 100%;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 1rem;
    background-color: #2c2c2c;
    padding: 1rem;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
  }

  .alert {
    font-weight: 600;
    color: #36bdf8;
  }

  #userForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
  }

  .new-contact-input {
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border-radius: 0.5rem;
    border: 2px solid #0002;
    background-color: #0001;
    margin-top: 4px;
  }

  .new-contact-input:focus-within {
    outline: none;
    border: 2px solid #36bdf8;
  }

  .actions {
    display: flex;
    gap: 16px;
    margin-top: 0.25rem;
  }

  .actions button {
    text-decoration: none;
    border: none;
    cursor: pointer;
  }

  .mark-as-read,
  .read {
    display: inline-block;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
  }

  .read {
    background-color: #ef4444;
    color: #fff;
  }

  .read:hover {
    background-color: #cf4444;
  }

  .mark-as-read {
    background-color: rgb(230, 231, 233);
    color: rgba(107, 114, 128, 1);
    transition: all 0.15s ease;
  }

  .mark-as-read:hover {
    background-color: rgb(220, 221, 223);
  }

  .label-type {
    color: #36bdf8;
  }

  input,
  .new-contact-input input {
    color: #fff;
    outline: none;
  }
</style>
